@model ITnetworkProjekt.Models.Insurance

@{
    ViewData["Title"] = "Smazat";
}


<h3>Jste si jistí, že chcete smazat toto pojištění</h3>
<div>
    <h4>Pojištění</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuredPerson)
        </dt>
        <dd class = "col-sm-10">
            <a href="~/InsuredPersons/Details/@Html.DisplayFor(model => model.InsuredPerson.Id)">
                @Html.DisplayFor(model => model.InsuredPerson.FirstName) @Html.DisplayFor(model => model.InsuredPerson.LastName)
            </a> 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PremiumAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PremiumAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
   <div class="text-end">
       <form asp-action="Delete">
       <input type="hidden" asp-for="Id" />
       <input type="submit" value="Smazat" class="btn btn-danger" /> |
       <a asp-action="Index">Zpátky na seznam</a>
       </form>
   </div>
</div>
