@model ITnetworkProjekt.Models.InsuredPersonViewModel

@{
	ViewData["Title"] = "Smazat";
}

<h3>Jste si jistí, že chcete smazat tohohle pojištěnce?</h3>
<div>
	<h4>Pojištěná osoba</h4>
	<hr />
	<dl class="row">
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.DateOfBirth)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.DateOfBirth)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.PhoneNumber)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.PhoneNumber)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Address)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Address)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.CreatedDate)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.CreatedDate)
		</dd>
	</dl>
	<div class="text-end">
	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Smazat" class="btn btn-danger" /> |
		<a asp-action="Index">Zpátky na seznam</a>
	</form>
	</div>
</div>
