@model ITnetworkProjekt.Models.InsuredPersonViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = Localizer["DetailsTitle"];
}

<div class="mb-4">
    <h3>@SharedLocalizer["InsuredPersonHeader"]</h3>
    <table class="table align-middle">
        <thead>
        <tr>
            <td rowspan="4" class="col-2">
                <img alt="Avatar image" src="~/images/avatar.png"/>
            </td>
            <td colspan="2">
                <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Address)</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.SocialSecurityNumber)</td>
            <td>@Html.DisplayFor(model => model.CreatedDate)</td>
        </tr>
        </thead>
    </table>
</div>

<h3>@Localizer["InsurancesHeader"]</h3>

@if (ViewBag.Insurances != null && ViewBag.Insurances.Count > 0)
{
    <div class="mb-10">
        <table class="table align-middle">
            <thead>
            <tr>
                <th>@Localizer["InsuranceType"]</th>
                <th>@Localizer["InsuranceAmount"]</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var insurance in ViewBag.Insurances)
            {
                <tr>
                    <td>
                        <a asp-controller="Insurances" asp-action="Details" asp-route-id="@insurance.Id">
                            @insurance.PolicyType
                        </a>
                    </td>
                    <td>@insurance.PremiumAmount</td>
                    <td>
                        @if (User.IsInRole(UserRoles.Admin))
                        {
                            <span>
                                <a asp-controller="Insurances" asp-action="Delete" asp-route-id="@insurance.Id" class="btn btn-danger">@SharedLocalizer["DeleteButton"]</a>
                                <a asp-controller="Insurances" asp-action="Edit" asp-route-id="@insurance.Id" class="btn btn-warning">@SharedLocalizer["EditButton"]</a>
                            </span>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <p>@Localizer["NoInsurancesFound"]</p>
}

@if (User.IsInRole(UserRoles.Admin))
{
    <div class="text-center mt-4">
        <a asp-controller="Insurances" asp-action="Create" asp-route-insuredPersonId="@Model.Id" class="btn btn-success">@Localizer["AddInsuranceButton"]</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">@Localizer["EditInsuredPersonButton"]</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">@Localizer["DeleteInsuredPersonButton"]</a>
        <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
    </div>
}